html {height: 100%;}
body {
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    height: 100%;
    color: #7c868e;
    font-size: 12px
}
.container-fluid{max-width: 1400px;  }
p.credits{padding: 10px 0 0 0;}

h1{
    font-size: 18px;
    padding: 0 0 5px 0;
    margin: 0;
    border-bottom: 5px solid #EAEAEA;
    color: #e65100
}
h1 .text-muted{
    font-size: 14px;
    color: #212121
}
h2{
    font-size: 16px;
    padding: 10px 0 5px 0;
    margin: 0;
    color: #e65100;
    font-weight: normal;
}
h2.underline{
    border-bottom: 2px solid #EAEAEA;
}
h2 .text-muted{
    font-size: 14px;
    color: #7c868e
}
.fa.fa-circle{
    color: #e65100
}
.table>tbody>tr>th{
    border-top: none;
    border-bottom: 2px solid #EAEAEA;
    font-weight: normal;
    color: #212121;
    vertical-align: bottom;
}
.table>tbody>tr>td{
    padding: 2px 5px;
    vertical-align: middle;
    border-top: none;
}
.narrow_container{
    height: 30px;
}
.small_container{
    height: 20px;
    max-width: 100px;
}
.legend-block{
    display: inline-block;
    height: 20px;
    width: 260px
}