.anychart-credits {
    display: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    height: 100%;
    background: #fff;
    color: #7c868e;
    font-size: 12px
}
p.credits{
    padding: 10px 0 0 0;
}
p, th{
    font-size: 13px
}
h1{
    font-size: 18px;
    padding: 0 0 5px 0;
    margin: 0;
    border-bottom: 5px solid #EAEAEA;
    color: #e65100
}
h1 .text-muted{
    font-size: 14px;
    color: #212121
}
h2{
    font-size: 16px;
    padding: 10px 0 5px 0;
    margin: 0;
    color: #e65100;
    font-weight: normal;
}
h2 .text-muted{
    font-size: 14px;
    color: #7c868e
}
i.fa.fa-circle{
    color: #e65100
}
.table>tbody>tr>th{
    border-top: none;
    border-bottom: 2px solid #EAEAEA;
    font-weight: normal;
    color: #212121;
}
.table>tbody>tr>td{
    padding: 2px 5px;
    vertical-align: middle;
    border-top: none;
}
.narrow_container{
    height: 30px;
}
.legend-block{
    display: inline-block;
    height: 20px;
    width: 310px
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}
